
<html>
<head>
  <title>Your Music Home</title>
  <% include ../partials/header %>
</head>
<body style="background: black url(background.jpg) no-repeat fixed center center;">
  <% include ../partials/navbar %>
  <div class="row">
      <div class="jumbotron" style="padding:30px; opacity: 0.9; margin:60px 100px auto 100px; overflow: scroll;">

        <h1><%= username %>: You might be interested in ...</h1>
          <% include ../partials/recommendedalbums %>
        
        <div class="col-md-8">
         <h3>Popular Songs</h3>
         <% include ../partials/songtable %>
        </div>
        

        <div class="col-md-4">
        <h3>Popular Albums</h3>
        <% include ../partials/Carousel %>

<!--         <table class="table table-hover table-striped" style = "magin: 0px 100px 10px 100px; text-align: center;">
          <tbody>
            <% albums.forEach(function(l) { %>
                <tr>
                  <td><%= l.album_name %></td>
                  <td><a href=<%= l.redirect_url %>>View it on Spotify</a></td>
                  <td>Popularity: <%= l.popularity %></td>
                  <td><img src=<%= l.image_url %> class="img-responsive" alt="Cinque Terre"></td>
                  <td><%= l.artist_name %></td>
                </tr>
            <% }); %>
          </tbody>
        </table> -->

      </div>
    </div>
  </div>
</body>